body{
    background-image: url(/assets/img/16.png);
    background-color: #5F662BB0;
}

#main-title{
    color: white;
}   

#clock-svg{
    fill: white;
}

#menu-btns button{
    color: white;
    &:hover{
        color: #d4d5db;
    }
    
}

#know-community span{
    i[type="redstone"]{
    color: #b10000;
    }
    i[type="build"]{
        color: #814900;
    }
    i[type="sword"]{
        color: #158372;
    }
}

#know-community #logo-container span{
    color: #272727a9;
}