body {
  background-image: url(/assets/img/6.png);
  background-color: #524A18B0;
}
#page-loading {
  background-color: #524A18;
}
#page-loading i {
  border-color: #524A18;
}
#main-title {
  color: white;
}
#clock-svg {
  fill: white;
}
#menu-btns button {
  color: #ffffff;
}
#menu-btns button:hover {
  color: #000000;
}
#know-community {
  color: white;
}
#know-community span i[type="redstone"] {
  color: #b60000;
}
#know-community span i[type="build"] {
  color: #c09038;
}
#know-community span i[type="sword"] {
  color: #3cb9a7;
}
#know-community #logo-container span {
  color: #d3d0d0a9;
}
#building,
#news {
  color: white;
}
#connect-us {
  color: white;
}
#connect-us .a-catg .a-line .a-way .text .group-id .after {
  background-color: black;
}
.img-missing {
  background-image: url("/assets/img/img-missing-light.png");
  border-color: #ffffff10;
}
