* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "千里之行楷";
  src: url("fonts/QianLiZhiXingKai-2.ttf") format("truetype");
}
::-webkit-scrollbar {
  display: none;
}
body {
  background-repeat: no-repeat;
}
.apage {
  height: 109.3vh;
  width: 100vh;
}
.apage:nth-child(2) {
  margin: 0 10vh;
  height: auto;
}
h1.part_title {
  font-family: "千里之行楷";
  font-size: 8vh;
  font-weight: 500;
  position: relative;
  top: 5vh;
  left: 5vh;
  width: 50vh;
}
#main-title {
  position: relative;
  top: 7vh;
  left: 24vh;
  user-select: none;
  width: 50vh;
}
#main-title h1 {
  font-family: "千里之行楷";
  font-size: 12vh;
  font-weight: 500;
}
#main-title span {
  position: relative;
  top: 1vh;
  left: 21vh;
  font-family: "千里之行楷";
  font-size: 4vh;
  font-weight: 500;
  display: block;
  width: 64vh;
}
#main-title #clock {
  display: flex;
  position: absolute;
  left: 150vh;
  bottom: 8vh;
}
#main-title #clock span {
  position: relative;
  left: 3vh;
  top: -2px;
  width: auto;
}
#menu-btns {
  position: absolute;
  top: 33vh;
  left: 62vh;
  display: flex;
  gap: 10vh;
  user-select: none;
}
#menu-btns button {
  background: none;
  border: none;
  font-size: 2vh;
  font-weight: 600;
  transition: color 0.25s ease-in-out;
}
#menu-btns button::after {
  content: "→";
  position: relative;
  top: 6px;
  left: 5px;
  opacity: 0;
  display: inline-flex;
  flex-wrap: unset;
  align-content: center;
  justify-content: center;
  padding-left: 1px;
  padding-bottom: 1px;
  color: black;
  width: 22px;
  height: 22px;
  background-color: #ffc107;
  border-radius: 100%;
  transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
}
#menu-btns button:hover::after {
  opacity: 1;
  top: -1px;
}
#know-community {
  width: 100%;
  user-select: none;
}
#know-community span {
  font-family: "千里之行楷";
  font-size: 4vh;
  font-weight: 500;
  position: relative;
  top: 10vh;
  left: 13vh;
}
#know-community span i {
  font-style: normal;
}
#know-community #logo-container {
  position: relative;
  margin-left: 140vh;
  bottom: 20vh;
}
#know-community #logo-container img {
  transform: scale(1.3);
  transition: transform 0.5s ease-in-out;
}
#know-community #logo-container img:hover {
  transform: scale(1.5);
}
#know-community #logo-container span {
  font-size: 2rem;
  position: absolute;
  left: 3.5vh;
  top: 25vh;
  width: 130px;
  transition: top 0.4s ease-in-out;
}
#know-community #logo-container img:hover + span {
  top: 27vh;
}
#build-and-news {
  user-select: none;
}
.img-missing {
  border: 2px solid;
  border-radius: 30px;
  width: 424px;
  height: 233px;
  position: relative;
  left: 10vh;
}
