* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "千里之行楷";
  src: url("fonts/QianLiZhiXingKai-2.ttf") format("truetype");
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "千里之行楷";
  background-repeat: no-repeat;
  overflow: hidden;
}
.apage {
  width: 1920px;
  height: 1009px;
}
.apage:nth-child(3) {
  padding-left: 10vh;
  width: 1820px;
  height: auto;
}
h1.part_title {
  font-size: 8vh;
  font-weight: 500;
  position: relative;
  top: 5vh;
  left: 5vh;
  width: 50vh;
}
h1.part_title.small {
  font-size: 6vh;
}
br {
  user-select: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#page-loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2147483647;
  opacity: 1;
  transition: opacity 0.5s;
}
#page-loading h2 {
  font-size: 2rem;
  font-weight: 400;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
#page-loading i {
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 24px);
  border: 7px solid;
  border-radius: 100%;
  border-top: 7px solid;
  border-top-color: white !important;
  color: white;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}
#main-title {
  position: relative;
  top: 7vh;
  left: 24vh;
  user-select: none;
  width: 50vh;
}
#main-title h1 {
  font-size: 12vh;
  font-weight: 500;
}
#main-title span {
  position: relative;
  top: 1vh;
  left: 21vh;
  font-size: 4vh;
  font-weight: 500;
  display: block;
  width: 64vh;
}
#main-title #clock {
  display: flex;
  position: absolute;
  left: 150vh;
  bottom: 8vh;
}
#main-title #clock span {
  position: relative;
  left: 3vh;
  top: -2px;
  width: auto;
}
#menu-btns {
  position: absolute;
  top: 30vh;
  left: 62vh;
  display: flex;
  gap: 10vh;
  user-select: none;
}
#menu-btns button {
  font-family: "千里之行楷";
  background: none;
  border: none;
  font-size: 3vh;
  font-weight: 500;
  transition: color 0.25s ease-in-out;
}
#menu-btns button .btn-after {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;
  font-weight: bolder;
  position: relative;
  top: 7px;
  opacity: 0;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-left: 1px;
  padding-bottom: 1px;
  color: black;
  width: 22px;
  height: 22px;
  background-color: #ffc107;
  border-radius: 100%;
  transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
}
#menu-btns button:hover .btn-after {
  opacity: 1;
  top: -3px;
}
#menu-btns button:hover .btn-after span {
  position: relative;
  left: -0.8px;
}
#know-community {
  user-select: none;
  width: fit-content;
}
#know-community span {
  font-size: 4vh;
  font-weight: 500;
  position: relative;
  top: 10vh;
  left: 13vh;
}
#know-community span i {
  font-style: normal;
}
#know-community #logo-container {
  position: relative;
  margin-left: 140vh;
  bottom: 20vh;
}
#know-community #logo-container img {
  transform: scale(1.3);
  transition: transform 0.5s ease-in-out;
}
#know-community #logo-container img:hover {
  transform: scale(1.5);
}
#know-community #logo-container span {
  font-size: 2rem;
  position: absolute;
  left: 3.5vh;
  top: 25vh;
  width: 130px;
  transition: top 0.4s ease-in-out;
}
#know-community #logo-container img:hover + span {
  top: 27vh;
}
#build-and-news {
  user-select: none;
  width: fit-content;
}
#connect-us {
  user-select: none;
  width: fit-content;
}
#connect-us .a-catg {
  position: relative;
  left: 10vh;
}
#connect-us .a-catg .a-line {
  display: flex;
  gap: 7vh;
  position: relative;
  left: 3vh;
  margin-top: 3vh;
}
#connect-us .a-catg .a-line .a-way {
  display: flex;
}
#connect-us .a-catg .a-line .a-way .text {
  margin-left: 10px;
}
#connect-us .a-catg .a-line .a-way .text .desp {
  display: block;
  font-size: 3vh;
  width: max-content;
}
#connect-us .a-catg .a-line .a-way .text .desp .dash_line {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 5px;
}
#connect-us .a-catg .a-line .a-way .text .group-id {
  font-size: 2.5vh;
  margin-left: 5px;
}
#connect-us .a-catg .a-line .a-way .text .group-id .after {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  position: relative;
  left: 5px;
  bottom: 3px;
  padding: 3px 6px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
#connect-us .a-catg .a-line .a-way .text .group-id:hover .after {
  opacity: 1;
}
#connect-us .a-catg .a-line .a-way .text[catg="discord"] .group-id {
  margin-left: -5px;
  bottom: 0;
}
#connect-us .a-catg .a-line .a-way .text[catg="discord"] .group-id.after {
  bottom: 2px;
}
#connect-us .way-catg-title {
  font-size: 4.5vh;
  font-weight: 400;
}
#connect-us .way-tips {
  position: relative;
  left: 3vh;
  font-size: 3vh;
  font-weight: 500;
}
.img-missing {
  border: 2px solid;
  border-radius: 30px;
  width: 424px;
  height: 233px;
  position: relative;
  left: 10vh;
}
